button {
    border: 1px solid red;
    font-size: calc(var(--step) * 1);
    text-transform: uppercase;
    padding-top: calc(var(--step) * 0.5);
    padding-bottom: calc(var(--step) * 0.5);
}

button.small {
    width: calc(var(--step) * 4);
}

button.medium {
    width: calc(var(--step) * 6);
}

button.large {
    width: calc(var(--step) * 10);
}

button.flex {
    padding-left: calc(var(--step) * 1);
    padding-right: calc(var(--step) * 1);
}